---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />
        Le planificateur de partie est <a class="font-semibold custom-link" href="https://docs.google.com/spreadsheets/d/1zaa_Mg8MtfMv-7ldoTc7yw63Ly7d9S8yghNEjAImaA4/edit?usp=sharing" target="_blank">accessible ici</a> (pour le wargame et le plateau) ou <a target="_blank" href="https://docs.google.com/spreadsheets/d/1aiZ5JPcxM5A3ipgx5YwieMHVjBEUOLUaZm0W9czSTe4/edit?usp=sharing" class="font-semibold custom-link" >ici</a> (pour la figurine).
        <br />N'hésitez pas à vous inscrire aux parties qui vous intéressent ou à en proposer aux autres !
        <br />
        <br />Rappel : l'inscription via le formulaire ci-dessus est obligatoire pour participer à l'évènement.
  </div>
</section>
