---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import { Icon } from "astro-icon/components";

const metadata = {
  title: 'Association',
};
---

<Layout metadata={metadata}>
  <Hero
    title="Tanelorn"
    subtitle="Association Thionvilloise de Joueuses et Joueurs depuis 1985."
    actions={[
      { variant:"primary", text: 'Nous rejoindre', href: '#join', icon: 'tabler:user-plus' },
      { text: 'Plus d\'info', href: '#domains' }
      ]}
  />

  <Features2
    id="domains"
    title="Nos domaines d'activités"
    columns={3}
    items={[
      {
        title: 'Jeux de rôle',
        description: 'A principalement lieu les samedis soirs. Mieux vaut discuter sur Discord ou le Forum pour créer ou intégrer une table.',
        icon: 'tabler:masks-theater',
      },
      {
        title: 'Jeux de société',
        description:
          'A lieu les vendredis soirs et les samedis.',
        icon: 'tabler:meeple',
      },
      {
        title: 'Jeux de figurines',
        description: `A lieu les mardis, samedis et parfois les dimanches. Warhammer 40K et Age of Sigmar, Le Trône de fer, Seigneur des Anneaux, et bien d'autres !`,
        icon: 'tabler:swords',
      },
      {
        title: 'Wargames',
        description:
          'A surtout lieu les samedis, et parfois ',
        icon: 'tabler:tank',
      },
      {
        title: 'Evènements publics',
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Tournois',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:tournament',
      }
    ]}
  />
  <FAQs
    title="Questions fréquentes"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: "🚩 Où jouons-nous ?",
        description:
          'Au LED, un ancien bâtiment massif de la sidérurgie allemande remis au goût du jour pour la culture. L\'adresse est le <b>1 Chemin du Leidt, 57100 Thionville</b> - il s\'agit du grand bâtiment blanc, gris et orange, entouré d\'un parking gratuit (voici le <a class="font-semibold custom-link" href="https://www.google.com/maps/place/LED+Thionville/@49.3419631,6.1546247,16z/data=!4m5!3m4!1s0x0:0xa11fa9ed35d7603c!8m2!3d49.3419759!4d6.1542186">lien Google Maps</a>).',
      },
      {
        title: '🕑 Quand jouons-nous ?',
        description:
          "Nous ouvrons nos portes chaque <b>samedi</b> (principalement le premier du mois), dès le matin - autour de 8h-9h; et jusqu'au soir, et parfois les <b>vendredis soirs</b> (pour le jeu de plateau) et les <b>mardis soirs</b> (pour la figurine).",
      },
      {
        title: '🎲 A quoi jouons-nous ?',
        description:
          'Il n\'est pas possible de dormir au LED, donc il faudra vous loger en dehors. Il y a quelques hôtels à prix raisonnables à proximité, comme le <a class="font-semibold custom-link" href="https://thionville.premiereclasse.com/fr-fr/">Première Classe</a>, le <a class="font-semibold custom-link" href="https://tulip-inn-thionville-residence.goldentulip.com/fr-fr/">Tulip Inn</a>, ou encore <a class="font-semibold custom-link" href="https://hdpthionville.com/">l\'Hôtel du Parc</a> ou le <a class="font-semibold custom-link" href="https://www.bestwestern.fr/fr/hotel-Thionville-Best-Western-Plus-Thionville-Centre-93938?sob=A42">Best Western Plus</a> un peu plus loin.',
      },
      {
        title: "Comment sont organisées les parties ?",
        description:
          "Si vous venez en train, le plus simple serait de nous contacter afin que nous organisions pour vous récupérer et vous déposer en voiture (le LED est à quelques minutes). Sinon, le trajet peut aussi se faire à pied en longeant la Moselle, ce qui n'a rien de désagréable (comptez 25 minutes).",
      },
      {
        title: "Qui peut rejoindre l'association ?",
        description:
          "Les lieux ouvrent à 08h le matin et ferment autour de 01h le soir, à l'exception du dimanche qui se termine à 17h30. Nous avons de la place donc pas de problème pour installer des gros jeux ou laisser des tables en place d'un jour à l'autre.",
      },
      {
        title: 'Combien est-ce que ça coûte ?',
        description:
          "Le détail des menus pour les repas du midi et soir seront communiqués en amont (et peuvent être adaptés, nous restons flexibles). Si vous avez des allergies, n'hésitez pas à nous le signaler par avant ou sur place.",
      },
      {
        title: 'Peut-on manger sur place ?',
        description:
          "Le prix est de 15€ par repas (30€ par jour), et vous donne aussi accès au petit-déjeuner et aux boissons et accompagnements qui seront à disposition pour l'ensemble de l'évènement, incluant apéritif, biscuit, bonbons, bière, vin, café, thé, sodas, etc.",
      },
      {
        title: 'Peut-on boire sur place ?',
        description:
          "Nous acceptons les paiments en amont par Paypal ou virement bancaire, et sur place en liquide ou par carte bancaire.",
      },
      {
        title: "Est-ce qu'il y a un accès handicapé ?",
        description:
          "Tout est fourni sur place, à l'exception des jeux (mais bon, ça on sait que vous y penserez :-) ).",
      },
      {
        title: 'Peut-on venir en transport en commun ?',
        description:
          "Vous pouvez nous contacter par e-mail (association.tanelorn@gmail.com), par message privé sur la page Facebook de Tanelorn ou même directement sur le discord du club (voir les boutons en haut à droite de cette page).",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Steps
    title="Si vous vous demandez comment nous rejoindre..."
    id="join"
    items={[
      {
        title: 'Étape 1 : <span class="font-medium">Se renseigner</span>',
        description:
          'Vous pouvez réserver votre place dès maintenant en remplissant le formulaire accessible en <a class="font-semibold custom-link" href="' + "" + '">cliquant ici</a> (ou via l\'un des boutons "S\'inscrire" de cette page).',
        icon: 'tabler:user-plus',
      },
      {
        title: 'Étape 2 (optionnelle) : <span class="font-medium">Trouver une partie</em>',
        description:
          'Il ne vous reste plus qu\'à proposer ou vous inscrire à des parties en utilisant le planificateur <a class="font-semibold custom-link" href="https://docs.google.com/spreadsheets/d/1r6AoiYxyVhg_5QRp7aK1-r3sJCWwc6id74_SfKx33V0/edit#gid=164993677">accessible ici</a>.',
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Venir nous voir !',
        icon: 'tabler:plane-departure',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Nous contacter',
      href: '/contact',
    }]}
    title="Vous souhaitez prendre contact ou poser une question ?"
  />
</Layout>
